insmod vbe
insmod vga
insmod video_bochs
insmod video_cirrus

# Принудительно ставим разрешение графики для самого GRUB
set default=0
set timeout=0
set gfxmode=1024x768x16
# Указываем GRUB передать этот графический режим ядру "как есть" (НЕ переключать в текст)
set gfxpayload=keep

menuentry "maxOS MaxRing v3.5 (x86_64 Long Mode)" {
    multiboot /boot/mykernel.bin
    boot
}
